


h1 {
    cursor: default;
}

.header {
    display: flex;
    flex-direction: row;
    
    padding-bottom: 0.5%;


}
.links {
    vertical-align: middle;
    height: 80px;
    display: inline;
    padding-inline-start: 60%;
    line-height: 80px;
}



h2 {
    font-size: 20px;
    font-weight: normal;
    padding-left: 4%;

}

p {

    width: 20%;
    padding-left: 4%;
    line-height: 150%;
    font-size: 15px;
    font-weight: lighter;
}

img {
    width: auto;
    height: auto;
}

.logo {
    height: 80px;
    width: 80px;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    background-color: grey;
    margin-right: 5%;
}



.wrapper {
    display: inline-block;
    padding-right: 0%;
    border-radius: 4%;
    height: 75%;
    width: 50%;
}

.wrapper img {
    border-radius: 4%;
    object-fit: contain;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ol , li {
    font-size: 1rem;
    margin-top: 2px;
}

.about-heading {
    font-size: calc(3vw + 1rem);
    color: #3d3d3de1;
    font-weight: 700;
    padding-left: 4%;
}

.content {
    
}

.about {
    padding-left: 40px;
    width: 40%;
}
