p {
    word-spacing: 5px;
    width: fit-content;
}

h4 {
    font-size: 20px;
}

.oplabel {
    font-size: 15px !important;
}

.option {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    gap: 10px;
}
.charges{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.booking-wrapper {
    margin-left: 60px;
}

label {
    order: 2;
}

input {
    order: 1
}

.adminForm{
    display: flex;
    flex-direction: row;
    padding-left: 975px;
    margin-top: 40px;
}


.table-button {
    outline: none;
    border: none;
    width: 120px;
    height: 28px;
    color: white;
    font-size: 8.5px;
    border-radius: 8px;
}

.table-button:focus {
    background-color: orange !important;
}

table {
    padding-left: 75px;
}

.time {
    font-size: 12px;
    font-weight: 300;
}

table {
    overflow: hidden;
}

td {
    text-align: center;
}

th {
    font-weight: lighter;
    font-size: 15px;
}


thead {
    background-color: #443c68;
    color: #fff;
}

th,
td {
    min-width: max-content;
    padding-bottom: 0.5rem;
    padding-right: 7rem;
    line-height: 1.7;
}

.error{
    width: 800px;
    height: 200px;
    background-color: red;
    font-size: 24px;
    text-align: center;
vertical-align: middle;
line-height: 100px; 
    color: white;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}