input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
*:focus {
    outline: none;
}

input[type=text],
input[type=password],
input[type=number],
input[type=date],
input[type=email],
select {
    padding: 6px;
    margin: 10px;
    width: 300px;
    max-height: 30px;
    border-radius: 4px;
    text-align: left;
    border: 2px solid grey;
}

input[type=submit] {
    align-items: center;
    width: 150px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #3120F2;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}


.form-wrapper {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
}

input,
label {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
}

h3 {
    text-decoration: underline;
    text-decoration-color: blue;
    margin-bottom: 0%;
    text-align: center;
    font-size: 24px;
}

.wrapper,
.wrapper2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.space {
    margin-bottom: 80px;
}