.login-content {
    display: flex;
    flex-direction: row;
    gap: 25%;
}

.lwrapper {
    display: inline-block;
    padding-left: 2%;
    z-index: 10;
}

.lwrapper img {
    height: 125%;
    width: 125%;
    object-fit: contain;
}

h3 {
    text-decoration: underline;
    text-decoration-color: blue;
    margin-bottom: 15%;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}

input,
label {
    display: block;
}

.login-wrapper {
    margin-top: 2.5%;
    max-width: 25%;
    margin-right: 10%;
}

input[type=text],
input[type=password] {
    padding: 6px;
    margin: 10px;
    width: 300px;
    border-radius: 4px;
    border: 2px solid grey;
}

input[type=submit] {
    align-items: center;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    line-height: 40px;
    margin: auto;
    border: none;
    color: white;
    background-color: #3120F2;
}

.forget {

    font-size: 12px;
    padding-left: 12px;
    color: grey;
    cursor: pointer;
    text-decoration: underline;

}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 40px;
}